body{
  align-items: center;
  text-align: center;
}

.blog{
  align-items: center;
  color: white;
  background-color: paleturquoise;
  border-radius: 15px;
  width: 200px;
  height: auto;
  padding: 20px;
  margin-bottom: 5px;
  display: inline-block;
}

.se{
  /* align-items: center; */
  justify-content: center;
}